language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  - "nightly"
# command to install dependencies
install:
  pip install -r requirements.txt
  pip install pytest-cov
# command to run tests
script: pytest --cov
after_success:
  - bash <(curl -s https://codecov.io/bash)